<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartAgroApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".PrincipalActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastroActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activitysfazendas.MainActivityFazendas"
            android:exported="true">
            <!-- Adicione quaisquer outros atributos necessários aqui -->
        </activity>
        <activity
            android:name=".activitysfazendas.FazendaDetailsActivity"
            android:exported="true">
            <!-- Adicione quaisquer outros atributos necessários aqui -->
        </activity>
        <activity
            android:name=".bioinsumos.activitysbioinsumos.MainActivityBioinsumos"
            android:exported="true">
            <!-- Adicione quaisquer outros atributos necessários aqui -->
        </activity>
        <activity
            android:name=".bioinsumos.activitysbioinsumos.Biologicos"
            android:exported="true">
            <!-- Adicione quaisquer outros atributos necessários aqui -->
        </activity>
        <activity
            android:name=".bioinsumos.activitysbioinsumos.Inoculantes"
            android:exported="true">
            <!-- Adicione quaisquer outros atributos necessários aqui -->
        </activity>
        <activity
            android:name=".AdubacaoActivity"
            android:exported="true">
            <!-- Adicione quaisquer outros atributos necessários aqui -->
        </activity>
        <activity
            android:name=".CalculoPulverizadorActivity"
            android:exported="true">
            <!-- Adicione quaisquer outros atributos necessários aqui -->
        </activity>
        <activity
            android:name=".MenuActivity"
            android:exported="true">
            <!-- Adicione quaisquer outros atributos necessários aqui -->
        </activity>
        <activity
            android:name=".SemeioActivity"
            android:exported="true">
            <!-- Adicione quaisquer outros atributos necessários aqui -->
        </activity>





        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>